<!doctype html>
<html lang="en" ng-app="webshop" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://use.fontawesome.com/d97e4c5e8f.js"></script>
    <script src="../js/users.js"></script>
    <title>Hello, world!</title>
</head>
<body>

<div class="container" ng-controller="usersController">
    <div class="row">
        <!--   <div sec:authorize="hasRole('ROLE_ADMIN')"> -->
        <h2>Users</h2>

        <table class="table table-striped">
            <tr>
                <th width="5%">#</th>
                <th width="20%">Username</th>
                <th width="30%">Password</th>
                <th width="20%">Enabled</th>
                <th width="10%"></th>
            </tr>
            <tbody ng-repeat="user in users">
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.enabled}}</td>
                    <td>
                        <i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removeUser(user)"></i>
                    </td>
                </tr>
                <tr ng-show='user.orders.length > 0'>
                    <th>Orders</th>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Order Canceled</th>
                </tr>
                <tr ng-repeat="order in user.orders">
                    <td>#</td>
                    <td>{{order.orderid}}</td>
                    <td><span>{{order.orderdate | date:'medium'}}</span></td>
                    <td>
                        <span ng-show="!order.canceled"><button type="button" ng-click="cancelOrder(user, order)"
                                                                class="btn btn-danger">Avbeställ order</button></span>
                        <span ng-show="order.canceled"><button type="button" class="btn btn-success"
                                                               ng-click="cancelOrder(user, order)">Ångra Avbeställning</button></span>
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- </div> -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</body>
</html>